<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Color Admin | Coming Soon Page</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="../assets/css/default/app.min.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE CSS STYLE ================== -->
    <link href="../assets/plugins/countdown/jquery.countdown.css" rel="stylesheet" />
    <!-- ================== END PAGE CSS STYLE ================== -->
</head>

<body class="bg-white pace-top">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade show">
        <span class="spinner"></span>
    </div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <div id="page-container" class="page-container fade">
        <!-- begin coming-soon -->
        <div class="coming-soon">
            <!-- begin coming-soon-header -->
            <div class="coming-soon-header">
                <div class="bg-cover"></div>
                <div class="brand">
                    <span class="logo"></span> <b>Color</b> Admin
                </div>
                <div class="desc">
                    Our website is almost there and it’s rebuilt from scratch! A lot of great new features <br />and
                    improvements are coming.
                </div>
                <div class="timer">
                    <div id="timer"></div>
                </div>
            </div>
            <!-- end coming-soon-header -->
            <!-- begin coming-soon-content -->
            <div class="coming-soon-content">
                <div class="desc">
                    We are launching a closed <b>beta</b> soon!<br /> Sign up to try it before others and be the first
                    to know when we <b>launch</b>.
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email Address" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-inverse">Notify Me</button>
                    </div>
                </div>
                <p class="help-block m-b-25"><i>We don't spam. Your email address is secure with us.</i></p>
                <p>
                    Follow us on
                    <a href="javascript:;" class="text-inverse"><i class="fab fa-twitter fa-lg fa-fw text-info"></i>
                        Twitter</a> and
                    <a href="javascript:;" class="text-inverse"><i
                            class="fab fa-facebook-square fa-lg fa-fw text-blue"></i> Facebook</a>
                </p>
            </div>
            <!-- end coming-soon-content -->
        </div>
        <!-- end coming-soon -->



        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade"
            data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="../assets/js/app.min.js"></script>
    <script src="../assets/js/theme/default.min.js"></script>
    <!-- ================== END BASE JS ================== -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="../assets/plugins/countdown/jquery.plugin.min.js"></script>
    <script src="../assets/plugins/countdown/jquery.countdown.min.js"></script>
    <script src="../assets/js/demo/coming-soon.demo.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
</body>

</html>